* {
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width : 481px){
	.background{
	  margin: 0;
	  padding : 5vh 0;
	  width: 100vw;
	  height: auto;
	  min-height: 100vh;
	  background-color: rgb(223, 248, 213);
	}
	.main-screen{
	  margin: 0 auto;
	  width: 480px;
	  border-radius: 20px;
	  background-color: white;
	}
	.main{
	  padding-bottom: 10%;
	}
	.full {
	  min-height: 60vh;
	}
	.title{
	  border-top-left-radius: 20px;
	  border-top-right-radius: 20px;
	  height: 15vh;
	  max-height: 200px;
	}
	h1{
	  padding-top: 6vh;
	}
	footer{
	  border-bottom-left-radius: 20px;
	  border-bottom-right-radius: 20px;
	}
	
	
}
@media screen and (max-width : 480px){
	.full{
	  min-height: 78vh;
	}
	.title{
	  height: 20vh;
	}
	h1{
	  padding-top: 8vh;
	}
}


.title {
  width: 100vw;
  max-width: 480px;
  padding: 0;
  background-color: rgb(1, 83, 1);
}
.full {
  width: 100vw;
  max-width: 480px;
  height: auto;
  background: linear-gradient(white, rgb(137, 194, 137));
}
h1 {
	font-size: 30px;
  color: white;
  margin-top: 0;
  text-align: center;
}
.main {
  margin: 0% auto 0 auto;
  padding-top: 10%;
  height: 70%;
  text-align: center;
}
.main > p {
  margin-left: 30px;
  font-weight: bolder;
  font-size: 30px;
  text-align: left;
}
#lost_button {
  margin-top: 50px;
  color: white;
  background-color: rgb(204, 5, 5);
}
#lost_button:hover {
  background: rgb(97, 1, 1);
  box-shadow: none;
}

#found_button {
  background-color: rgb(3, 87, 3);
}
#found_button:hover {
  color: white;
  background: rgb(2,56,2);
  box-shadow: none;
}
.btn {
	width: 300px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border-radius: 100vh;
  padding: 30px 50px;
  margin: 50px auto;
  border: none;
  box-shadow: 5px 5px 10px gray;
}

footer {
  font-size: 10px;
  letter-spacing: 2px;
  width: 100vw;
  max-width: 480px;
  height: 2vh;
  text-align: center;
  color: white;
  background-color: rgb(1, 83, 1);
}
