* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  letter-spacing: 7px;
  width: 100vw;
  height: 8vh;
  background-color: rgb(1, 83, 1);
  color: white;
  display: flex;
  padding-left: 10vw;
  font-size: 40px;
  line-height: 8vh;
}
.search-box {
  margin-bottom: 0;
  width: 100vw;
  height: auto;
  background-color: rgb(255, 238, 236);
  border-left: solid 10px rgb(182, 3, 3);
  border-right: solid 10px rgb(182, 3, 3);
  border-bottom: solid 10px rgb(182, 3, 3);
  border-bottom-left-radius: 10vw;
  border-bottom-right-radius: 10vw;
  padding: 0 0 5vh 0;
  font-size: 50px;
  box-shadow: 0px 10px 10px gray;
}
.search-box-title {
  width: 100%;
  color: white;
  background-color: rgb(182, 3, 3);
  padding: 1vh 10vw;
  font-weight: bold;
  border: none;
}
.search-box-grid {
  margin-top: 2vh;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}
.search-box-grid > label {
  color: gray;
  border-radius: 50vh;
  margin: 0 2vw;
}

.radio {
  display: none;
}
input:checked + label {
  color: black;
  font-weight: bold;
  background-color: rgb(228, 197, 197);
}

.submit-box {
  width: 100vw;
  text-align: center;
  display: flex;
}

.condition {
  letter-spacing: 7px;
  width: 100vw;
  min-height: 6vh;
  background-color: rgb(255, 238, 236);
  color: rgb(182, 3, 3);
  display: flex;
  padding-left: 10vw;
  font-size: 40px;
  line-height: 6vh;
  border-bottom: solid 10px rgb(182, 3, 3);
}
.list-grid {
  width: 96vw;
  display: grid;
  border-radius: 50vh;
  margin: 10px 2vw;
  padding: 30px 10vw 30px 10vw;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100px 70px 70px;
  color: white;
  font-size: 40px;
  background-color: rgb(182, 3, 3);
}
.list-grid:hover {
  background: rgb(107, 29, 29);
}
.list-grid > h4 {
  width: 100%;
  font-size: 50px;
  border: solid 5px white;
  border-radius: 50vh;
  text-align: center;
  line-height: 100px;
}
.list-grid > div {
  margin-left: 50px;
  line-height: 70px;
}
.list-grid-photo {
  grid-column: 1/2;
  grid-row: 1/4;
  text-align: center;
  border-radius: 20px;
  border: solid 5px white;
  line-height: 240px;
  margin-right: 2vw;
}
#search_button {
  margin-top: 50px;
  color: white;
  background-color: rgb(204, 5, 5);
}
#search_button:hover {
  background: rgb(110, 31, 31);
  box-shadow: none;
}
.btn {
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: bold;
  border-radius: 100vh;
  padding: 50px 140px;
  margin: 120px auto;
  border: none;
  box-shadow: 5px 5px 10px gray;
}

footer {
  letter-spacing: 2px;
  width: 100vw;
  height: 2vh;
  text-align: center;
  color: white;
  background-color: rgb(1, 83, 1);
}
