* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (min-width : 481px){
	.background{
	  margin: 0;
	  padding : 5vh 0;
	  width: 100vw;
	  height: auto;
	  min-height: 100vh;
	  background-color: rgb(223, 248, 213);
	}
	.main-screen{
	  margin: 0 auto;
	  width: 480px;
	  border-radius: 20px;
	  background-color: white;
	}

	header{
	  border-top-left-radius: 20px;
	  border-top-right-radius: 20px;
	  height: 15vh;
	  max-height: 200px;
	  max-width: 480px;
	}
	footer{
	  border-bottom-left-radius: 20px;
	  border-bottom-right-radius: 20px;
	  max-width: 480px;
	}
	
	
}
@media screen and (max-width : 480px){
	header{
	  height: 20vh;
	}
	
}

header {
  letter-spacing: 7px;
  width: 100vw;
  max-width: 480px;
  height: 60px;
  background-color: rgb(1, 83, 1);
  color: white;
  display: flex;
  padding-left: 40px;
  font-size: 25px;
  line-height: 60px;
}
.search-box {
  margin-bottom: 0;
  width: 100vw;
  max-width: 480px;
  height: auto;
  background-color: rgb(255, 238, 236);
  border-left: solid 5px rgb(182, 3, 3);
  border-right: solid 5px rgb(182, 3, 3);
  border-bottom: solid 5px rgb(182, 3, 3);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 0 0 30px 0;
  font-size: 25px;
  box-shadow: 0px 10px 10px gray;
}
.search-box-title {
  width: 100%;
  color: white;
  background-color: rgb(182, 3, 3);
  padding: 5px 40px;
  font-weight: bold;
  border: none;
}
.search-box-grid {
  margin-top: 2vh;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}
.search-box-grid > label {
  color: gray;
  border-radius: 50vh;
  margin: 8px 10px;
}
.search-box-grid > p {
  color: gray;
  border-radius: 50vh;
  margin: 8px 10px;
}

.radio {
  display: none;
}
input:checked + label {
  color: black;
  font-weight: bold;
  background-color: rgb(228, 197, 197);
}

.submit-box {
  width: 100vw;
  max-width: 480px;
  text-align: center;
  display: flex;
}

.condition {
  letter-spacing: 0;
  width: 100vw;
  max-width: 480px;
  min-height: 30px;
  background-color: rgb(255, 238, 236);
  color: rgb(182, 3, 3);
  display: flex;
  padding-left: 30px;
  font-size: 20px;
  line-height: 30px;
  border-bottom: solid 5px rgb(182, 3, 3);
}
.list-grid {
  width: 96vw;
  max-width: 460px;
  display: grid;
  border-radius: 50vh;
  margin: 10px 10px;
  padding: 20px 40px 20px 40px;
  grid-template-columns: 100px auto;
  grid-template-rows: 40px 25px 25px;
  color: white;
  font-size: 20px;
  background-color: rgb(182, 3, 3);
  border: none;
}
.list-grid:hover {
  background: rgb(107, 29, 29);
}
.list-grid > h4 {
  width: 100%;
  font-size: 20px;
  border: solid 3px white;
  border-radius: 50vh;
  text-align: left;
  padding-left: 30px;
  line-height: 34px;
}
.list-grid > div {
  margin-left: 30px;
  line-height: 30px;
  text-align: left;
}
.list-where{
	grid-column: 2/3;
	grid-row: 2/3;
}
.list-time{
	grid-column: 2/3;
	grid-row: 3/4;
}
.list-grid-photo {
	  object-fit: cover;
  grid-column: 1/2;
  grid-row: 1/4;
  border-radius: 10px;
  border: solid 3px white;
  line-height: 90px;
  margin-right: 10px;
}
#search_button {
  margin-top: 50px;
  color: white;
  background-color: rgb(204, 5, 5);
}
#search_button:hover {
  background: rgb(110, 31, 31);
  box-shadow: none;
}
#back_button {
  color: rgb(182, 3, 3);
  border: solid 5px rgb(182, 3, 3);
  background-color: rgb(255, 238, 236);
  margin-top: 0px;
  padding: 15px 20px;
  margin: 40px auto;
}
#back_button:hover {
  background: rgb(250, 158, 158);
  box-shadow: none;
}
.btn {
	width: 300px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border-radius: 100vh;
  padding: 30px 50px;
  margin: 120px auto;
  border: none;
  box-shadow: 5px 5px 10px gray;
}

.widest{
	width: 100vw;
    max-width: 480px;
	text-align: center;
}

footer {
  letter-spacing: 2px;
  width: 100vw;
  max-width: 480px;
  height: 15px;
  text-align: center;
  color: white;
  background-color: rgb(1, 83, 1);
  font-size: 10px;
}
