* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (min-width : 481px){
	.background{
	  margin: 0;
	  padding : 5vh 0;
	  width: 100vw;
	  height: auto;
	  min-height: 100vh;
	  background-color: rgb(223, 248, 213);
	}
	.main-screen{
	  margin: 0 auto;
	  width: 480px;
	  border-radius: 20px;
	  background-color: white;
	}

	header{
	  border-top-left-radius: 20px;
	  border-top-right-radius: 20px;
	  height: 15vh;
	  max-height: 200px;
	  max-width: 480px;
	}
	footer{
	  border-bottom-left-radius: 20px;
	  border-bottom-right-radius: 20px;
	  max-width: 480px;
	}
	
	
}
@media screen and (max-width : 480px){
	header{
	  height: 20vh;
	}
	
}

header {
  letter-spacing: 7px;
  width: 100vw;
  max-width: 480px;
  height: 60px;
  background-color: rgb(182, 3, 3);
  color: white;
  display: flex;
  padding-left: 40px;
  font-size: 25px;
  line-height: 60px;
}
h1 {
  font-size: 20px;
}
.full-page {
  width: 100vw;
  max-width: 480px;
  min-height: 90vh;
  padding-top: 2vh;
  background-color: rgb(239, 255, 239);
  text-align: center;
}
.full-page > p{
	font-size: 20px;
}

.list-grid {
  width: 96vw;
  max-width: 461px;
  display: grid;
  border-radius: 50vh;
  margin: 10px 10px;
  padding: 20px 40px 20px 40px;
  grid-template-columns: 100px auto;
  grid-template-rows: 40px 25px 25px;
  color: white;
  font-size: 20px;
  text-align: start;
  background-color: rgb(1, 83, 1);
}
.list-grid > h4 {
  width: 100%;
  font-size: 20px;
  border: solid 3px white;
  border-radius: 50vh;
  text-align: center;
  line-height: 34px;
  padding-left: 30px;
}
.list-grid > div {
  margin-left: 30px;
  line-height: 30px;
  text-align: left;
}
.list-grid-photo {
  grid-column: 1/2;
  grid-row: 1/4;
  text-align: center;
  border-radius: 10px;
  border: solid 3px white;
  line-height: 90px;
  margin-right: 10px;
  position: cover;
}
.check-box {
  margin: 30px auto;
  text-align: center;
  width: 60vw;
  max-width: 288px;
  border-radius: 20px;
  background-color: white;
}
.check-box > h2 {
  font-size: 25px;
}
.check-box > p {
  font-size: 20px;
}
#search_button {
  margin-top: 50px;
  color: white;
  background-color: rgb(3, 87, 3);
}
#search_button:hover {
  background: rgb(2, 56, 2);
  box-shadow: none;
}

#back_button {
  color: rgb(3, 87, 3);
  border: solid 5px rgb(3, 87, 3);
  background-color: rgba(239, 255, 239, 0);
  margin-top: 0px;
}
#back_button:hover {
  background: rgb(160, 253, 160);
  box-shadow: none;
}
.btn {
	width: 300px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border-radius: 100vh;
  padding: 15px 20px;
  margin: 40px auto;
  border: none;
  box-shadow: 5px 5px 10px gray;
}
footer {
  letter-spacing: 2px;
  width: 100vw;
  max-width: 480px;
  height: 15px;
  text-align: center;
  color: white;
  background-color: rgb(1, 83, 1);
  font-size: 10px;
}
