<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>検索結果送信結果表示画面</description>
    <display-name>SearchedServlet</display-name>
    <servlet-name>SearchedServlet</servlet-name>
    <servlet-class>servlet.SearchedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchedServlet</servlet-name>
    <url-pattern>/SearchedServlet</url-pattern>
    <url-pattern>/Searched</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>検索条件指定画面</description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>検索結果送信確認画面</description>
    <display-name>SearchCheckServlet</display-name>
    <servlet-name>SearchCheckServlet</servlet-name>
    <servlet-class>servlet.SearchCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCheckServlet</servlet-name>
    <url-pattern>/SearchCheckServlet</url-pattern>
    <url-pattern>/SearchCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>検索画面</description>
    <display-name>ListServlet</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>servlet.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/ListServlet</url-pattern>
    <url-pattern>/List</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>登録内容入力画面</description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>登録内容確認画面</description>
    <display-name>RegisterCheckServlet</display-name>
    <servlet-name>RegisterCheckServlet</servlet-name>
    <servlet-class>servlet.RegisterCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCheckServlet</servlet-name>
    <url-pattern>/RegisterCheckServlet</url-pattern>
    <url-pattern>/RegisterCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>登録結果表示画面</description>
    <display-name>RegisteredServlet</display-name>
    <servlet-name>RegisteredServlet</servlet-name>
    <servlet-class>servlet.RegisteredServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisteredServlet</servlet-name>
    <url-pattern>/RegisteredServlet</url-pattern>
    <url-pattern>/Registered</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>トップ画面</description>
    <display-name>TopServlet</display-name>
    <servlet-name>TopServlet</servlet-name>
    <servlet-class>servlet.TopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopServlet</servlet-name>
    <url-pattern>/TopServlet</url-pattern>
    <url-pattern>/Top</url-pattern>
  </servlet-mapping>
</web-app>